<table class="table">
    <thead class="thead-dark" >
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Desc</th>
        <th scope ="col">Img </th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngIf="product">
     
        <th scope="row">1</th>
        <td>   {{product.name}} </td>
        <td>  {{product.price}} </td>
        <td> {{product.desc}} </td>
        <td> <img class="card-img-top" [src]="product.img" style="height: 200px; width: 200px; " alt=""></td>
       
      </tr>
     
    </tbody>
  </table> 
  